p{
	font-family: "Time New Roman";
	font-size: 30px;
	color: orange;
}

.vertical-container {
	display:-webkit-flex;
	display:	flex;
	-webkit-align-items:center;
		align-items:center;
	-webkit-justify-content:center;
		justify-content:center;
}

.home_top {
	-webkit-flex: home_top;
		flex: home_top;
	height: 455px;
}

.home_button {
	-webkit-flex: home_button;
		flex: home_button;
	height: 60px;
}

